<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar</title>
</head>
<body style="text-align: center">
<h1>Cadastrar</h1>
<img style="margin-left: 20px" src= "login.PNG" width="200">
<form action="/cadastrar" method="post">
    Login:<input type="text" name="login"><br><br>
    Senha: <input type="password" name="senha"><br><br>
    <input type="submit" value="Cadastrar" name="envia"><br><br>
</form>


<a href="/login">Clique aqui para logar</a>

</body>
</html>